# Ignore everything except task1_sft_grpo
dataset_dataloaders/
distributed_training/
mixed_precision_amp/
sft/
tensors/
external_repos/

# Model weights and caches
*.pt
*.pth
*.safetensors
*.bin

.venv/
venv/
.pytest_cache/
.ruff_cache/
__pycache__/
